.listContainer {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 3rem;
  padding: 0;
}

.listItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.listItem {
  transition: all 250ms;
  padding: 1rem 2rem;
}

.listItemSelected {
  background-color: #7db1ff;
}

.listItem:hover {
  transition: all 250ms;
  background-color: #a3c8ff;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin: 0;
}

.userContainer {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 3rem;
  padding: 0;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 15px;
}

.userName {
  font-weight: bold;
}

.userDescription {
  font-size: 12px;
}

.userLogout {
  font-size: 12px;
  color: #7db1ff;
}